################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/labelTest/v16
/debug
/enc_temp_folder/fa7882fb4feb7ad5e7c6980916ee9b1
/release
/VTK
